@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');

:root {
    --theme-colour: #5DA399; /* Used in border, side navigation menu open/close icon, buttons, table headers, table scrollbars, multiselects, and expanders */
    --theme-colour-hover: #757de8; /* Used in buttons, table scrollbars, and expanders hover states */
    --theme-colour-active: #658864; /* Used in buttons and table scrollbars active states */
    --theme-colour-secondary: #DDDDDD; /* Used in progress bars and checkboxes */
    
    --background-colour: #ecd79b; /* Used as the background of the header toolbar menu/modal popup, side navigation menu, page containers, table borders, table data cells, and table scrollbar track borders  */
    --background-colour-secondary: #c8b39e; /* Used as the background of the Main Content Area, empty progress bars, table scrollbar tracks, text inputs and multiselect inputs (Defined in Start_Streamlit.py as well) */
  
    --text-colour: #6A00FF; /* 表格等字体颜色 */
    --text-colour-contrast: #050810; /*按钮字体颜色*/
    --text-colour-contrast-secondary: #2B4B79;

    --box-shadow: #63636333 0px 10px 30px 0px;
    --box-shadow-hover: #63636366 0px 10px 30px 0px;
    --box-shadow-focus-not-active: inset 0 1px 1px #00000013, 0 0 0 3px #C6CDFF;
  }

  /*@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');*/
/*  @font-face {
      font-family: 'jourmore';
      src: url('utils/bhelpuri-8oo4m.ttf') format('truetype');
  }*/

 /* HTML, Body, and App
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* –– HTML Body–––––––––––––––––––––––––––––––––––––––––– */
  html {
    font-size: 100%; /* By default (100%), 1rem is equal to 16px. With font-size at 62.5% (10/16), 1rem is equal to 10px */
    font-family: 'Space Grotesk', sans-serif;
  }

  body {
    overflow-x: hidden;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    font-family: 'Space Grotesk', sans-serif; 
  }

  .stMainBlockContainer
  {
    max-width: 120%;
    margin: auto;
  }

  .block-container {
    padding-top: 1rem;
    padding-bottom: 0rem;
    margin-top: 0rem;
    }

  #MainMenu {visibility: hidden;}
  footer {visibility: hidden;}
  header {visibility: hidden;}
  #root > div:nth-child(1) > div > div > div > div > section > div {padding-top: 0rem;}

  [data-testid="stVerticalBlock"] {
        gap: 0.5rem;
  }

/*顶部内边距*/
  [data-testid="stSidebarNavItems"] {
      padding-top: 2rem;
  }
/*侧边栏顶部、左侧&右侧、底部内边距*/
  [data-testid="stSidebarUserContent"] {
          padding: 1rem 1.5rem 3rem;
  }


/*  .stApp header::after {
    content: "🌀 NBsTem: A webserver for Nanobody Thermostability Prediction";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: auto;
    font-weight: bold;
    font-style: italic;
    color: var(--text-colour-contrast);
    display: flex;
  }*/

/*  .stApp {
          background-image: url("https://pic.imgdb.cn/item/672b1531d29ded1a8ca86299.jpg");
          background-repeat : no-repeat;
          background-size: cover;
          -webkit-background-size: cover; /* 添加浏览器兼容性前缀 */
      }*/
  [data-testid="stVerticalBlockBorderWrapper"] {
          background-color: rgba(255, 255, 255, 0.5);
          padding: 0.5rem;
      }
  [data-testid="stVerticalBlockBorderWrapper"]>div {
          background-color: rgba(255, 255, 255, 1);
      }


/* –– Header Toolbar Menu ––––––––––––––––––––––––––– */
  [data-testid='stMainMenuPopover'] {
    top: 4.5rem;
    left: auto;
    right: 0.5rem;
    transform: none; /* Overwrite transform done automatically by Streamlit*/
    box-shadow: var(--box-shadow);
    border-radius: 0;
    margin: 0;
    width: 12rem;
    background: var(--background-colour);
  }

  /* –– Buttons –––––––––––––––––––––––––––––––––––––––样式，悬停，激活，聚焦 */
  [data-testid='stbaseButton-secondary'] {
    padding: 0.25rem 0.75rem;
    border-radius: 0rem;
    min-height: 38.4px;
    color: var(--text-colour-contrast);
    width: fit-content;
    user-select: none;
    background-color: var(--theme-colour);
    border: none;
    font-weight: bold;
  }

  [data-testid='stbaseButton-secondary']:hover {
    color: var(--text-colour-contrast);
    background-color: var(--theme-colour-hover);
  }

  [data-testid='stbaseButton-secondary']:active {
    color: var(--text-colour-contrast);
    background-color: var(--theme-colour-active);
  }

  [data-testid='stbaseButton-secondary']:focus:not(:active) {
    color: var(--text-colour-contrast);
    background-color: var(--theme-colour-hover);
    box-shadow: var(--box-shadow-focus-not-active);
    outline: 0;
  }

  /* –– Case Summary Table Data Cells ––––––––––––––––– */
  table td {
    border-top: none !important;
    border-bottom: 1px solid var(--background-colour-secondary) !important;
    border-left: none !important;
    border-right: none !important;
    min-width: 100px;
    height: 38px;
    background-color: var(--background-colour);
    text-align: right;
    color: var(--text-colour);
  }

  /* –– Header Status - Source File Changed ––––––––––– */
  [data-testid='stStatusWidget'] {
    color: var(--text-colour-contrast);
  }

  [data-testid='stStatusWidget'] label {
    color: var(--text-colour-contrast-secondary);
  }

  [data-testid='stStatusWidget'] svg {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--text-colour-contrast);
  }


  /* –– Text Inputs ––––––––––––––––––––––––––––––––––– */
  [data-baseweb='input'] {
    border: none;
    border-radius: 0;
    min-height: 38.4px;
  }

  [data-baseweb='base-input'] {
    background-color: var(--background-colour-secondary);
  }

  /* –– Number Inputs ––––––––––––––––––––––––––––––––– */
  button.step-up {
    display: none;
  }

  button.step-down {
    display: none;
  }


/* Style the contact form */
input[type=message], input[type=email], input[type=text], textarea {
    width: 100%; 
    padding: 6px; 
    border: 2px solid #F8E063; 
    border-radius: 2px; 
    box-sizing: border-box; 
    margin-top: 2px;
    margin-bottom: 4px; 
    resize: vertical;
    front-color:#de283b;
    color: black;
}
textarea {
    width: 100%; 
    height:160px;
    padding: 12px; 
    border: 2px solid #CCF7E8; 
    border-radius: 2px; 
    box-sizing: border-box; 
    margin-top: 2px;
    margin-bottom: 4px; 
    resize: vertical;
    front-color:#ADE0FE;
    color: black;
}
.text_input-color {  
    color: #93F5DB;  
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
  background-color: #0077C2;
  #color: #554e4f;
  padding: 8px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
  background-color: #333333;
}



/*组件文本大小*/
[data-testid="baseLinkButton-primary"]>[data-testid="stMarkdownContainer"]>p {
    font-size: 16px;
}

p {
    line-height: 2; /* 可以根据需要调整行距 */
    font-size: 16px;
}


  .footer_center {
    display: flex;
    gap: 13%;
    align-items: center;
  }
  .box1 {
    width: 20%;
    border: 0px solid white;
  }
  .box2 {
    width: 70%;
    border: 0px solid #f5f5f5;
  }

